<!-- Modal -->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
        <h4 class="modal-title">Create a Pet</h4>
    </div>
    <div class="modal-body" id="createModalBody">
    	<div class="alert alert-danger" ng-if="validationError">
			<strong>Error:</strong> {{validationError}}
		</div>
		<form>
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" class="form-control" id="name" ng-model="name" autofocus>
			</div>
			<div class="form-group">
				<label for="category">Pet Category:</label>
				<select class="form-control" id="category" ng-options="category as category.name for category in categories track by category.id" ng-model="selectedCategory"></select>
				</select>
			</div>
			<div class="form-group">
				<label for="price">Price:</label>
				<input type="number" class="form-control" id="price" min="0" max="99999999" step="0.01" ng-model="price">
			</div>
			<div class="form-group">
				<label for="description">Description:</label>
				<textarea class="form-control" id="description" rows="3" ng-model="description"></textarea>
			</div>
			<div class="form-group">
				<label for="birthDate">Birth Date:</label>
				<input class="form-control" type="date" id="birthDate" ng-model="birthDate">
			</div>
			<div class="form-group">
				<label for="tagNumber">License Number:</label>
				<input type="text" class="form-control" id="tagNumber" ng-model="tagNumber">
			</div>
			<div class="form-group">
				<label for="photoUrl">Photo URL:</label>
				<input type="text" class="form-control" id="photoUrl" ng-model="photoUrl">
			</div>
		</form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="savePet()">Save Pet</button>
    </div>
</div>
