<!-- Modal -->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
        <h4 class="modal-title">Confirm Delete</h4>
    </div>
    <div class="modal-body">
    	Are you sure you want permanently delete {{pet.name}}?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="deletePet()">Delete</button>
    </div>
</div>
