<!-- Modal -->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
        <h4 class="modal-title">{{pet.name}}</h4>
    </div>
    <div class="modal-body">
    	<p ng-if="pet.photoUrls[0]" style="text-align:center;">
			<img src="{{pet.photoUrls[0]}}" width="480" height="360">
        </p>
        <div>
  			<p ng-if="pet.birthDate" style="float: left;">Price: <b>{{pet.price | currency}}</b><br>Birth Date: {{pet.birthDate}}</p>
  			<p ng-if="!pet.birthDate" style="float: left;">Price: <b>{{pet.price | currency}}</b></p>
 			<p ng-if="pet.tags[0]" style="float: right;">License No: {{pet.tags[0].name}}</p>
        </div>
        <div style="clear: both;"></div>
        <p>
        	{{pet.description}}
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="closeModal()">Close</button>
    </div>
</div>
