<div class="container">

	<h2>Find Your Next Pet</h2>
	<br>

	<div ng-if="isAuthenticated">
		<button type="button" class="btn btn-primary" ng-click="createPet()">Create Pet</button>
		<br>
		<br>
	</div>
            
	<table class="table table-striped tableStore">
		<colgroup>
			<col span="1" style="width: 15%;">
			<col span="1" style="width: 35%;">
			<col span="1" style="width: 25%;">
			<col span="1" style="width: 25%;">
		</colgroup>
		<tr ng-repeat="pet in pets | orderBy: ['category.name', '-price']">
			<td>
				<div ng-if="pet.photoUrls[0]">
					<img src="{{pet.photoUrls[0]}}" class="imgPetSmall">
				</div>
				<!-- display default image if none provided -->
				<div ng-if="!pet.photoUrls[0]">
					<img src="images/default.jpg" class="imgPetSmall">
				</div>
			</td>
			<td >
				<b>{{pet.name}}</b><br>
				{{pet.category.name}}<br>
				<span ng-if="pet.birthDate">Birth date: {{pet.birthDate}}</span>
			</td>
			<td>
				<b>{{pet.price | currency}}</b>
			</td>
			<td>
				<div class="btnContainer">
					<button type="button" class="btn btn-primary btnCustom" ng-click="viewPet(pet)">Details</button>
					<button type="button" class="btn btn-danger btnCustom" ng-click="deletePet(pet)" ng-if="isAdministrator">Delete</button>
				</div>
			</td>
		</tr>
	</table>
</div>
