/*
 * Custom CSS for pet store application
 */

.imgPetSmall {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

.imgPetLarge {
	width: auto;
}

.btnContainer {
	padding-top: 2px;
}

.btnCustom {
	margin-right: 5px;
	margin-bottom: 5px;
}

.tableStore {
	width: 70%;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}
